@import 'tailwindcss';

@theme {
  --color-accent-1: #fafafa;
  --color-accent-2: #eaeaea;
  --color-accent-7: #333;
  --color-success: #0070f3;
  --color-cyan: #79ffe1;
  --color-dark-body: #253237;

  --tracking-tighter: -0.04em;

  --leading-tight: 1.2;

  --font-sans: Graphik, sans-serif;
  --font-serif: Merriweather, serif;

  --text-5xl: 2.5rem;
  --text-6xl: 2.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6.25rem;

  --shadow-xs: 0 5px 10px rgba(0, 0, 0, 0.12);
  --shadow-md: 0 8px 30px rgba(0, 0, 0, 0.12);

  --transition-property-height: height;
  --transition-property-spacing: margin, padding;

  --scale-25: 0.25;
  --scale-175: 1.75;
  --scale-200: 2;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor); /* This also affects <hr /> */
  }
}

a {
  @apply cursor-pointer;
}
div {
  /* the amount of margin to leave at the top with scrolling with anchor links */
  @apply scroll-mt-20;
}
